# emacs ignores for backup file and lock file
*~
*\#
.\#*
# Erlang beam files
*.beam
ebin/*
# Mnesia datastore
datastore/*
#plt
*.plt
# Autoconf
autom4te.cache/*
config.log
config.status
Makefile
sys.config
erl_classifier.rel
erl_classifier.boot
erl_classifier.script
src/erl_classifier.app