# emacs ignores for backup file and lock file
*~
*\#
.\#*
# Erlang beam files
*.beam
ebin/*
# Mnesia datastore
datastore/*
#plt
*.plt
# Autoconf
autom4te.cache/*
config.log
config.status
Makefile
erl_classifier.rel
src/erl_classifier.app